:root{
  --main-pink-color: #df9e98;
  --second-pink-color: #ebd6d3;
  --white-color: #ffffff;
  --black-color: #000000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif;
}
.auth-main{
  background-color: var(--white-color);
  color: var(--black-color);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* asegura altura completa de la ventana */
}

.auth {
  width: 100%;
  max-width: 700px;
  font-size: 1em;
  color: var(--black-color);
  background-color: var(--second-pink-color);
  text-align: center;
  padding: 60px 20px;
  margin: 0 auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content:space-evenly;
}

.login, .register{
  display: flex;
  flex-direction: column;
}

.auth h2{
  margin-bottom: 15px;
  margin-top: 15px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px; /* opcional: separa visualmente los campos */
}
input {
  border-radius: 10px;
  border: none;
  padding: 10px 15px;
  font-weight: bold;
  margin: 3px;

}