:root{
  --main-pink-color: #df9e98;
  --second-pink-color: #ebd6d3;
  --white-color: #ffffff;
  --black-color: #000000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif;
}

body {
  background-color: var(--white-color);
  color: var(--black-color);
}

header {
  text-align: center;
}

header h1 {
  font-size: 2.5em;
}

header .top-nav{
  padding: 10px 20px;
  background-color: var(--main-pink-color);
  color: var(--white-color);
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 7px;
}

nav ul, nav a {
  list-style: none;
  display: flex;
  /*align-items: center; *//*Centra verticalmente a los hijos*/
  /*justify-content: space-between;*/
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: inherit;
  align-items: center;
  justify-content: space-between;
}

img.logo{
  width: 100px;
  height: auto;
}

.hero {
  background-color: var(--second-pink-color);
  text-align: center;
  padding: 60px 20px;
  background-image: url('./images/hero.png');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
}

.hero h2 {
  font-size: 4em;
  margin-bottom: 20px;
}

.hero p {
  margin: 20px 0;
  color: #555;
}
.contact-main, .shop-main {
  background-color: var(--second-pink-color);
  text-align: center;
  padding: 60px 20px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
}

.contact-main h2, .shop-main h2{
  font-size: 3.5em;
  color: var(--black-color);
}

.contact-main p{
  margin-top: 10px;
  font-size: 1.5em;
  width: 50%;
  color: black;
}

.button-pink{
  background-color: var(--main-pink-color);
  border-radius: 20px;
  border: none;
  padding:10px 15px;
  text-decoration: none;
  font-weight: bold;
  color: var(--white-color);
}
section h2{
  font-size: 2em;
}
.products {
  padding: 40px 20px;
  text-align: center;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.product {
  background-color: var(--second-pink-color);
  border: 1px solid #ffe6f0;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.product img {
  width: 150px;
  height: auto;
  /* height: 60px; */
  border-radius: 10px;
}
.container-info-cards{
  display: flex;
  padding: 60px 20px;
  justify-content: center;
}
.info-card {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 200px;
  padding: 10px;
  margin: 10px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 5px;
  border: var(--second-pink-color) 1px solid;
}
.info-card:hover{
  transform: translateY(-5px);
}
.icons{
  font-size: 2rem;
}

.phone-card{
  background-color: var(--main-pink-color);
  color: white;
}
.email-card{
  background-color: var(--second-pink-color);
}
.address-card{
  background-color: var(--white-color);
}

iframe{
  width: 90%;
  padding: 60px 20px;
}

.container-team-cards{
  display: flex;

}

.info-card-team{
  width: 25%;
  border-radius: 50px;
}

.team-members{
  padding: 40px 20px;
  text-align: center;
}

.team-members h2{
  margin-bottom: 50px;
}
.team-members h3{
  margin-top: 50px;
}
img.photo-team-member{
  width: 80px;
  height: 85px;
  border-radius: 50%;
  margin: 10px 0;
}

footer {
  background-color: var(--second-pink-color);
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  color: var(--black-color);
}