:root{
  --main-pink-color: #df9e98;
  --second-pink-color: #ebd6d3;
  --white-color: #ffffff;
  --black-color: #000000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif;
}

body {
  background-color: var(--white-color);
  color: var(--black-color);
}

header {
  text-align: center;
}

header h1 {
  font-size: 2.5em;
}

header .top-nav{
  padding: 10px 20px;
  background-color: var(--main-pink-color);
  color: var(--white-color);
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 7px;
}

nav ul, nav a {
  list-style: none;
  display: flex;
  /*align-items: center; *//*Centra verticalmente a los hijos*/
  /*justify-content: space-between;*/
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: inherit;
  align-items: center;
  justify-content: space-between;
}

img.logo{
  width: 100px;
  height: auto;
}

.hero {
  background-color: var(--second-pink-color);
  text-align: center;
  padding: 60px 20px;
  background-image: url('./images/hero.png');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
}

.hero h2 {
  font-size: 4em;
  margin-bottom: 20px;
}

.hero p {
  margin: 20px 0;
  color: #555;
}

.button-pink{
  background-color: var(--main-pink-color);
  border-radius: 20px;
  border: none;
  padding:10px 15px;
  text-decoration: none;
  font-weight: bold;
  color: var(--white-color);
}
section h2{
  font-size: 2em;
}
.products {
  padding: 40px 20px;
  text-align: center;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.product {
  background-color: var(--second-pink-color);
  border: 1px solid #ffe6f0;
  border-radius: 5px;
  padding: 15px;
  width: 200px;
}

.product img {
  width: 150px;
  height: 200px;
  /* height: 60px; */
  border-radius: 10px;
}

footer {
  background-color: var(--second-pink-color);
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  color: var(--black-color);
}

.auth-main{
  background-color: var(--white-color);
  color: var(--black-color);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* asegura altura completa de la ventana */
}

.auth {
  width: 100%;
  max-width: 700px;
  font-size: 1em;
  color: var(--black-color);
  background-color: var(--second-pink-color);
  text-align: center;
  padding: 60px 20px;
  margin: 0 auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content:space-evenly;
}

.login, .register{
  display: flex;
  flex-direction: column;
}

.auth h2{
  margin-bottom: 15px;
  margin-top: 15px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px; /* opcional: separa visualmente los campos */
}
input {
  border-radius: 10px;
  border: none;
  padding: 10px 15px;
  font-weight: bold;
  margin: 3px;

}